<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <h1><u>Weather</u></h1>
    <form action="/getWeather" method="post">
        <input name="zipInput" id="zipInput" type="text" placeholder="Enter a Zipcode" required>
        <input type="submit" value="Fetch Weather">
      </form>
  </body>
</html>